<div
  class="week-grid__time-slot week-grid__event"
  style="--grid-row-start: <%= ( calendar_event.starts_at_ellapsed_minutes / 0.5 + 1 ).to_i %>; --grid-row-end: <%= ( calendar_event.ends_at_ellapsed_minutes / 0.5 + 1 ).to_i %>;"
>
  <p><%= calendar_event.title.presence || 'Untitled' %></p>
</div>
