:root {
  --color-slate-300: rgb(226 232 240);
}

.week-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 20px;
  border: 1px solid var(--color-slate-300);
  border-radius: 4px;
}

.week-grid__header {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
}

.week-grid__body {
  display: grid;
  grid-template-columns: 50px repeat(7, 1fr);
}

.week-grid__date {
  text-align: end;
  border-right: 1px solid var(--color-slate-300);

  &:last-of-type {
    border-right: 0;
  }
}

.week-grid__day {
  border-right: 1px solid var(--color-slate-300);

  &:last-of-type {
    border-right: 0;
  }
}

.week-grid__time-slot {
  border-bottom: 1px dotted var(--color-slate-300);
}

.week-grid__slot {
  height: 25px;
}

.week-grid__clock-slot {
  position: relative;
  text-align: end;
}

.week-grid__clock {
  position: absolute;
  transform: translateY(-50%);
  right: 10px;
}

.week-grid__clock-gutter {
  position: absolute;
  right: 0;
  height: 100%;
  width: 5px;
  border-bottom: 1px dotted var(--color-slate-300);
}
